[Desktop Entry]
Name=MeshApp
Exec=MeshApp
Icon=app.privatepractice.meshapp
Type=Application
Categories=Network;HamRadio;Utility;
Comment=Meshtastic desktop client
Keywords=Meshtastic;LoRa;mesh;radio;BLE;serial;
Terminal=false
StartupWMClass=MeshApp
